* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 10px;
}

.trybewarts-header-logo {
  height: 57px;
}

.trybewarts-login {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  height: 500px;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

#fullname, #email-house, #radio-family, #comment-textarea, #radio-family, #check-content, #radio-rate, #check-agree  {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 3px;
  border-bottom: thin solid black;
}

#fullname div, #email-house div {
  display: flex;
}

#radio-family, #comment-textarea, #radio-family, #check-content, #radio-rate {
  flex-direction: column;
}

#check-content div, #radio-rate div {
  display: flex;
  justify-content: space-between;
}

textarea {
  border: solid 2px black;
  resize: none;
  height: 100px;
}

#comment-textarea {
  margin-bottom: 21px;
  border: none;
}

#check-agree {
  justify-content: center;
}

#submit-form {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

footer {
  display: flex;
  justify-content: center;
}
